{
  "env": {
    "test": {
      "presets": [["@babel/preset-env"], "@babel/preset-react"]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11", "safari >= 10"]
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": ["transform-class-properties"]
}
