.container {
    margin-left: 15px;
    margin-right: 15px;
}

.tables_container {
    background-color: #F1F1F2;
}

.topButtons_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topButtons_wrapper button {
    background-color: transparent;
    border: none;
    color: #532D7E;
    text-transform: uppercase;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.topButtons_wrapper button::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #532D7E;
    transition: all .25s ease;
}

.topButtons_wrapper button:hover::after {
    width: 100%;
    transition: all .25s ease;
}

.topButtons_wrapper button svg {
    position: relative;
    top: 4px;
    right: 8px;
}

table {
    background-color: #fff;
    width: 100%;
}

caption {
    cursor: pointer;
    background-color: #BABAB9;
    margin: 7px;
    padding: 11px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    user-select: none;
}

caption.active {
    color: #E85755;
    background-color: transparent;
    border-bottom: 1px solid #E85755;
}

caption span {
    position: relative;
}

caption span::after {
    content: '';
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
}

caption.active span::after {
    border-color: #E85755 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
    right: -15px;
}

.table-title {
    font-weight: 500;
    border-bottom: 1px solid #000;
    text-align: center;
    min-width: 145px;
}

.behaviourName {
    transform: rotate(-90deg);
}

.cell {
    border: none;
    height: 60px;
    background-color: #F1F1F2;
}

.cell_custom {
    cursor: pointer;
    text-align: center;
    min-width: 145px;
    height: 66px;
    overflow-y: auto;
    word-break: break-word;
}

.cell_custom p {
    height: 100%;
    overflow-y: auto;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_custom span {
    font-size: 29px;
    font-weight: 200;
    color: #fff;
    position: relative;
    bottom: 3px;
}

.cell.cell-given_when_then {
    color: #fff;
    font-weight: normal;
    border: none;
}

.cell.GIVEN-cell {
    background-color: #4F287B;
}

.cell.WHEN-cell {
    background-color: #E85755;
}

.cell.THEN-cell {
    background-color: #3EB775;
}

.GIVEN-cell-prop {
    color: #4F287B;
}

.WHEN-cell-prop {
    color: #E85755;
}

.THEN-cell-prop {
    color: #3EB775;
}

.GIVEN-cell-prop, .WHEN-cell-prop, .THEN-cell-prop {
    width: 420px;
}

.cell_input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    min-height: 66px;
    resize: vertical;
}

.cell p {
    padding-left: 15px;
}
