/* TABLE COMPONENTS */

/* CUSTOM SCROLL */
.cells_dropdown::-webkit-scrollbar {
    width: 5px;
}

.cells_dropdown::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cells_dropdown::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid slategrey;
}

.comb_wrapper::-webkit-scrollbar {
    width: 5px;
}

.comb_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.comb_wrapper::-webkit-scrollbar-thumb {
    background-color: #000;
    outline: 1px solid slategrey;
}


.clear {
    clear: both;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

.tables_container {
    background-color: #F1F1F2;
}

.topButtons_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topButtons_wrapper button {
    background-color: transparent;
    border: none;
    color: #532D7E;
    text-transform: uppercase;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.topButtons_wrapper button::after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #532D7E;
    transition: all .25s ease;
}

.topButtons_wrapper button:hover::after {
    width: 100%;
    transition: all .25s ease;
}

.topButtons_wrapper button svg {
    position: relative;
    top: 4px;
    right: 8px;
}

.table {
    background-color: #fff;
    width: 100%;
}

.gwt_row {
    display: flex;
    margin-bottom: 10px;
}

.attr-cells_row {
    display: flex;
}

.gwt {
    color: #fff;
    border: none;
    width: 50px;
    flex: 0 0 50px;
    font-weight: 400;
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.gwt-GIVEN {
    background-color: #4F287B;
}

.gwt-WHEN {
    background-color: #E85755;
}

.gwt-THEN {
    background-color: #3EB775;
}

.header {
    height: 52px;
    width: 200px;
    flex: 0 0 200px;
    font-weight: 500;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    word-break: break-word;
    text-align: center;
    margin-top: 10px;
}

.header p {
    text-transform: uppercase;
}

.header_input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    height: 40px;
    resize: none;
}

.empty_header-1, .empty_header-2 {
    border-bottom: none;
}

.gwt_wrapper, .empty_header-1 {
    width: 50px;
    min-width: 50px;
    flex: 0 0 50px;

}

.attr, .empty_header-2 {
    width: 420px;
    flex: 0 0 420px;
}

.attr-cells_wrapper {
    position: relative;
}

.table_headers {
    display: flex;
}

.cells {
    cursor: pointer;
    width: 200px;
    flex: 0 0 200px;
    height: 76px;
    background-color: #F1F1F2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.cells span {
    font-size: 29px;
    font-weight: 200;
    color: #fff;
}

.cells, .header {
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.behaviourName {
    transform: rotate(-90deg);
}

.attr {
    background-color: #F1F1F2;
    height: 76px;
    padding-left: 15px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    position: relative;
}

.attr p {
    margin: 0;
    padding: 15px;
    padding-right: 35px;
}

.open-inst_comb {
    position: absolute;
    width: 50px;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: none;
}

.attr:hover .open-inst_comb {
    display: flex;
}

.attr-GIVEN .open-inst_comb path {
    fill: #4F287B;
}

.attr-WHEN .open-inst_comb path {
    fill: #E85755;
}

.attr-THEN .open-inst_comb path {
    fill: #3EB775;
}

.attr-GIVEN {
    color: #4F287B;
}

.attr-WHEN {
    color: #E85755;
}

.attr-THEN {
    color: #3EB775
}

.attr-GIVEN i.condition_arrow {
    border: solid #4F287B;
    border-width: 0 2px 2px 0;
}

.attr-WHEN i.condition_arrow {
    border: solid #E85755;
    border-width: 0 2px 2px 0;
}

.attr-THEN i.condition_arrow {
    border: solid #3EB775;
    border-width: 0 2px 2px 0;
}

.gwt_row.inst_comb-isOpen {
    min-height: 392px;
}

.inst_comb-isOpen .attr, .inst_comb-isOpen .empty_header-2 {
    margin-right: 480px;
}

i.condition_arrow {
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 10px;
}

.condition_arrow_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    bottom: -1px;
}

.condition_arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 3px;
}

.hide_comb {
    position: absolute;
    right: 0;
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    top: 0px;
    cursor: pointer;
    outline: none;
}

.comb_wrapper {
    position: absolute;
    top: 0;
    left: 454px;
    width: 420px;
    padding: 20px;
    background-color: #f1f1f2;
    z-index: 100;
    height: 76px;
    overflow: hidden;
}

.comb_active {
    height: 389px;
    overflow: auto;
}

.comb_opacity::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .7;
}

.GIVEN-comb .comb_opacity::after {
    background-color: #4F287B;
}

.WHEN-comb .comb_opacity::after {
    background-color: #E85755;
}

.THEN-comb .comb_opacity::after {
    background-color: #3EB775;
}

.GIVEN-comb {
    background-color: #f3e9ff;
}

.WHEN-comb {
    background-color: #FCF4F4;
}

.THEN-comb {
    background-color: #d8f5e5;
}

.GIVEN-comb .hide_comb path {
    fill: #4F287B;
}

.WHEN-comb .hide_comb path {
    fill: #E85755;
}

.THEN-comb .hide_comb path {
    fill: #3EB775;
}

.GIVEN-comb .comb_title {
    color: #4F287B;
}

.WHEN-comb .comb_title {
    color: #E85755;
}

.THEN-comb .comb_title {
    color: #3EB775;
}

.comb_input_wrapper input {
    width: 100%;
    border: none;
    background-color: transparent;
    margin-top: 23px;
    outline: none;
}

.comb_input_wrapper input::placeholder {
    opacity: .4;
    text-transform: uppercase;
}

.GIVEN-comb .comb_input_wrapper input, .GIVEN-comb .comb_input_wrapper input::placeholder {
    color: #4F287B;
}

.GIVEN-comb .comb_input_wrapper input {
    border-bottom: 1px solid #4F287B;
}

.WHEN-comb .comb_input_wrapper input, .WHEN-comb .comb_input_wrapper input::placeholder {
    color: #E85755;
}

.WHEN-comb .comb_input_wrapper input {
    border-bottom: 1px solid #E85755;
}

.THEN-comb .comb_input_wrapper input, .THEN-comb .comb_input_wrapper input::placeholder {
    color: #3EB775;
}

.THEN-comb .comb_input_wrapper input {
    border-bottom: 1px solid #3EB775;
}

.add_comb_inst {
    float: right;
    border: 2px solid #000;
    margin-top: 10px;
    text-transform: uppercase;
    background: transparent;
    color: #000;
    cursor: pointer;
    transition: all .20s ease;
    outline: none;
}

.GIVEN-comb .add_comb_inst {
    border: 2px solid #4F287B;
    color: #4F287B;
}

.GIVEN-comb .add_comb_inst:hover {
    background-color: #4F287B;
}

.WHEN-comb .add_comb_inst {
    border: 2px solid #E85755;
    color: #E85755;
}

.WHEN-comb .add_comb_inst:hover {
    background-color: #E85755;
}

.THEN-comb .add_comb_inst {
    border: 2px solid #3EB775;
    color: #3EB775;
}

.THEN-comb .add_comb_inst:hover {
    background-color: #3EB775;
}

.add_comb_inst:hover {
    transition: all .20s ease;
    color: #fff;
}

.comb_opacity {
    display: flex;
    flex-wrap: wrap;
}

.comb_item {
    width: calc(50% - 4px);
    padding-right: 46px;
    position: relative;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 30px;
    padding-top: 7px;
    padding-left: 8px;
    margin: 2px;
}

.GIVEN-comb .comb_item {
    background-color: #4F287B;
}

.WHEN-comb .comb_item {
    background-color: #E85755;
}

.THEN-comb .comb_item {
    background-color: #3EB775;
}

.comb_edit-delete_btns {
    position: absolute;
    right: 3px;
    top: 7px;
}

.comb_edit-delete_btns button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.comb_edit-delete_btns path {
    fill: #fff;
}

.cells_dropdown {
    position: absolute;
    width: 100%;
    height: 152px;
    bottom: -76px;
    z-index: 2000;
    overflow-y: auto;
}

.cells_dropdown p {
    margin: 0;
    width: 100%;
    padding: 5px;
    border-top: 1px solid #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .20s ease;
}

.cells_dropdown p:last-child {
    border-bottom: 1px solid #000
}

.cells_dropdown p:hover {
    color: #fff;
    transition: all .20s ease;
}

.cells-GIVEN .cells_dropdown p:hover {
    background-color: #4f287b;
}

.cells-WHEN .cells_dropdown p:hover {
    background-color: #e85755;
}

.cells-THEN .cells_dropdown p:hover {
    background-color: #3eb775;
}

.cells-GIVEN .cells_dropdown {
    background-color: #e2dcea;
}

.cells-WHEN .cells_dropdown {
    background-color: #fce6e5;
}

.cells-THEN .cells_dropdown {
    background-color: #e0f4e9;
}

.attr-GIVEN:hover, .cells-GIVEN:hover {
    background-color: rgba(79, 40, 123, 0.16);
}

.attr-WHEN:hover, .cells-WHEN:hover {
    background-color: rgba(232, 87, 85, 0.16);
}

.attr-THEN:hover, .cells-THEN:hover {
    background-color: rgba(62, 183, 117, 0.16);
}

.instances_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    overflow-y: auto;
}

/**/

.table_name {
    cursor: pointer;
    background-color: #BABAB9;
    margin: 7px;
    padding: 11px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    user-select: none;
    text-align: center;
}

.table_name.active {
    color: #E85755;
    background-color: transparent;
    border-bottom: 1px solid #E85755;
}

.table_name span {
    position: relative;
}

.table_name span::after {
    content: '';
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
}

.table_name.active span::after {
    border-color: #E85755 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
    right: -15px;
}

.table-title {
    font-weight: 500;
    border-bottom: 1px solid #000;
    text-align: center;
    min-width: 188px;
    word-break: break-word;
}

.table-title p {
    padding-left: 15px;
    padding-right: 15px;
}

.table-title .cell_input {
    min-height: auto;
    height: auto;
}

.cell {
    border: none;
    background-color: #F1F1F2;
}

.cell_custom {
    cursor: pointer;
    text-align: center;
    height: 76px;
    word-break: break-word;
    max-width: 300px;
}

.cell_custom p {
    height: 100%;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell_custom span {
    font-size: 29px;
    font-weight: 200;
    color: #fff;
    position: relative;
    bottom: 3px;
}

.cell.cell-given_when_then {
    color: #fff;
    font-weight: normal;
    border: none;
    width: 50px;
    font-weight: 300;
}

.cell.GIVEN-cell {
    background-color: #4F287B;
}

.cell.WHEN-cell {
    background-color: #E85755;
}

.cell.THEN-cell {
    background-color: #3EB775;
}

.GIVEN-cell-prop {
    color: #4F287B;
}

.WHEN-cell-prop {
    color: #E85755;
}

.THEN-cell-prop {
    color: #3EB775;
}

.GIVEN-cell-prop, .WHEN-cell-prop, .THEN-cell-prop {
    min-width: 420px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.GIVEN-cell-prop > div, .WHEN-cell-prop > div, .THEN-cell-prop > div {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
}

.GIVEN-cell-prop p, .WHEN-cell-prop p, .THEN-cell-prop p {
    margin: 0;
}

.GIVEN-cell-prop:hover, .cell_GIVEN:hover {
    background-color: rgba(79, 40, 123, 0.16);
}

.WHEN-cell-prop:hover, .cell_WHEN:hover {
    background-color: rgba(232, 87, 85, 0.15);
}

.THEN-cell-prop:hover, .cell_THEN:hover {
    background-color: rgba(62, 183, 117, 0.16);
}

.cell_input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    height: 69px;
    resize: none;
    padding-left: 15px;
    padding-right: 15px;
}

.cell p {
    width: 100%;
}

.action_button {
    background-color: transparent;
    border: 1px solid #532D7E;
    color: #532D7E;
    cursor: pointer;
    transition: all .25s ease;
}

.action_button:hover {
    background-color: #532D7E;
    color: #fff;
    transition: all .25s ease;
}

.combination_wrapper {
    height: 420px;
}

.edit_button {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

/* TABLE CREATE COMPONENTS */

.new_table_wrapper {
    display: flex;
    background-color: #fff;
    padding-top: 36px;
}

.init_setup_wrapper {
    width: 25%;
    border: 1px solid #F1F1F1;
    padding: 7px;
}

.init_attr_wrapper {
    width: 75%;
    border: 1px solid #F1F1F1;
    padding: 7px;
}

.title_wrapper {
    position: relative;
    background-color: #fff;
    bottom: 17px;
    color: #C4C4C3;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.input_wrapper {
    display: flex;
    flex-flow: column;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-left: 19px;
    padding-right: 19px;
}

.input_wrapper label {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.input_wrapper input {
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #000;
    height: 30px;
    width: 70%;
    outline: none !important;
}

.gwt_wrapper {
    display: flex;
}

.button_create_wrapper {
    display: flex;
    justify-content: flex-end;
}

.columnTitles_list {
    padding-left: 19px;
    padding-right: 19px;
}



