.container {
    margin-left: 15px;
    margin-right: 15px;
}
.tables_container {
    background-color: #F1F1F2;
}
.topButtons_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    background-color: #fff;
    width: 100%;
}

caption {
    cursor: pointer;
    background-color: #BABAB9;
    margin: 7px;
    padding: 11px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    user-select: none;
}
caption.active {
    color: #E85755;
    background-color: transparent;
    border-bottom: 1px solid #E85755;
}
caption span {
    position: relative;
}
caption span::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
}

caption.active span::after {
    border-color: #E85755 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
    right: -12px;
}

.table-title {
    font-weight: 500;
    border-bottom: 1px solid #000;
    text-align: center;
}

.behaviourName {
    transform: rotate(-90deg);
}

.cell {
    border: none;
    height: 60px;
    background-color: #F1F1F2;
}

.cell_custom {
    cursor: pointer;
    text-align: center;
    max-width: 145px;
    height: 66px;
    overflow-y: auto;
    word-break: break-all;
}

.cell.cell-given_when_then {
    color: #fff;
    font-weight: normal;
    border: none;
}

.cell.GIVEN-cell {
    background-color: #4F287B;
}
.cell.WHEN-cell {
    background-color: #E85755;
}
.cell.THEN-cell {
    background-color: #3EB775;
}

.GIVEN-cell-prop {
    color: #4F287B;
}
.WHEN-cell-prop {
    color: #E85755;
}
.THEN-cell-prop {
    color: #3EB775;
}
.GIVEN-cell-prop, .WHEN-cell-prop, .THEN-cell-prop {
    max-width: 420px;
}

.cell_input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    height: 100%;
    resize: vertical;
}
